body {
    main {
        .logo-description {
            text-align: center;
            margin-top: 215px;
            p {
                font-size: 29px;
                color: #808080;
                margin-top: 13px;
            }
        }
    }
}