body {
    main {
        .logo {
            margin-left: 11%;
            margin-top: 36px;
            @include breakpoint(desktop) {
                margin-top: 12px;
            }
        }
    }
}