body {
    main {
        .optimization-management {
            margin-top: 76px;
            background-color: #303030;
            .image {
                .background {
                    left: 0;
                    display: none;
                    position: absolute;
                    @include breakpoint(desktop) {
                        left: 59%;
                        width: 41%;
                        display: block;
                    }
                    @include breakpoint(tablet) {
                        left: 59%;
                        width: 26%;
                        display: block;
                    }
                }
                .row {
                    margin-right: 0;
                    .col-sm-7 {
                        margin-bottom: 9%;
                        .management {
                            color: #FFFFFF;
                            position: relative;
                            font-size: 12px;
                            @include breakpoint(desktop) {
                                margin-top: 255px;
                                margin-left: 25%;
                                font-size: 19px;
                            }
                            .management1 {
                                position: absolute;
                                left: 39%;
                                top: 6%;
                                width: 30%;
                                @include breakpoint(desktop) {
                                    left: 24%;
                                    top: -19%;
                                }
                                @include breakpoint(tablet) {
                                    left: 42%;
                                    top: 10%;
                                    width: 27%;
                                }
                            }
                            .management2 {
                                position: absolute;
                                left: 81%;
                                top: 27%;
                                @include breakpoint(desktop) {
                                    left: 75%;
                                }
                                @include breakpoint(tablet) {
                                    left: 74%;
                                    top: 27%;
                                    width: 12%;
                                }
                            }
                            .management3 {
                                position: absolute;
                                left: 81%;
                                top: 82%;
                                @include breakpoint(desktop) {
                                    left: 66%;
                                }
                                @include breakpoint(tablet) {
                                    left: 76%;
                                    top: 82%;
                                    width: 12%;
                                }
                            }
                            .management4 {
                                position: absolute;
                                left: 41%;
                                top: 100%;
                                width: 19%;
                                @include breakpoint(desktop) {
                                    left: 22%;
                                    top: 102%;
                                }
                                @include breakpoint(tablet) {
                                    left: 45%;
                                    top: 102%;
                                    width: 19%;
                                }
                            }
                            .management5 {
                                position: absolute;
                                top: 81%;
                                width: 24%;
                                left: 3%;
                                @include breakpoint(desktop) {
                                    left: -5%;
                                }
                                @include breakpoint(tablet) {
                                    left: 18%;
                                    width: 14%;
                                }
                            }
                            .management6 {
                                position: absolute;
                                top: 27%;
                                width: 24%;
                                left: 1%;
                                @include breakpoint(desktop) {
                                    left: -17%;
                                }
                                @include breakpoint(tablet) {
                                    left: 17%;
                                    width: 13%;
                                }
                            }
                            img {
                                width: 77%;
                                margin-left: 13%;
                                margin-top: 18%;
                                @include breakpoint(desktop) {
                                    margin-left: 0;
                                    margin-top: 0;
                                }
                                @include breakpoint(tablet) {
                                    width: 55%;
                                    margin-left: 26%;
                                    margin-top: 15%;
                                }
                            }
                        }
                    }
                    .col-sm-5 {
                        color: #FFFFFF;
                        h3 {
                            margin-top: 50px;
                            text-align: center;
                            width: 100%;
                            @include breakpoint(desktop) {
                                font-size: 39px;
                                margin-top: 133px;
                                text-align: left;
                            }
                            @include breakpoint(tablet) {
                                font-size: 31px;
                                margin-top: 12%;
                                text-align: left;
                            }
                        }
                        p {
                            width: 100%;
                            margin-left: 3%;
                            @include breakpoint(desktop) {
                                width: 73%;
                                margin-left: 0;
                            }
                            @include breakpoint(tablet) {
                                width: 100%;
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}