body {
    main {
        .project-management {
            text-align: center;
            border: 1px solid #FDF100;
            width: 83%;
            margin-left: 9%;
            margin-top: 100px;
            @include breakpoint(desktop) {
                margin-top: 184px;
            }
            .text-container {
                h1 {
                    color: #F1AA00;
                    margin-top: -28px;
                    background-color: #FFFFFF;
                    width: 77%;
                    margin-left: 13%;
                    font-size: 32px;
                    @include breakpoint(desktop) {
                        font-size: 40px;
                    }
                }
                p {
                    text-align: left;
                    width: 92%;
                    margin-left: 7%;
                    margin-top: 21px;
                    @include breakpoint(desktop) {
                        width: 72%;
                        margin-left: 16%;
                        margin-top: 48px;
                    }
                }
            }
        }
    }
}