body {
    main {
        .request2 {
            text-align: center;
            border-radius: 20px;
            height: 500px;
            background-color: #3FBD62;
            @include breakpoint(desktop) {
                height: 801px;
                border-radius: 0px;
            }
            @include breakpoint(tablet) {
                border-radius: 0px;
                height: 553px;
            }
            .desp {
                @include breakpoint(desktop) {
                    height: 130px;
                }
                @include breakpoint(tablet) {
                    height: 26px;
                }
            }
            .description {
                position: absolute;
                margin-top: 27px;
                color: #FFFFFF;
                width: 100%;
                @include breakpoint (desktop) {
                    margin-top: 6%;
                    font-size: 32px;
                    width: 30%;
                    text-align: left;
                    margin-left: 14%;
                }
                @include breakpoint (tablet) {
                    margin-top: 6%;
                    font-size: 32px;
                    width: 50%;
                    text-align: left;
                    margin-left: 6%;
                }
                .text1 {
                    font-weight: 900;
                }
                .text2 {
                    font-weight: 400;
                }
                img {
                    display: none;
                    @include breakpoint(desktop) {
                        margin-left: 18%;
                        margin-top: 40px;
                        display: block;
                    }
                    @include breakpoint(tablet) {
                        margin-left: 18%;
                        margin-top: 0px;
                        display: block;
                    }
                }
            }
        }
        .form-request {
            border: 1px solid #BDC3C7;
            width: 100%;
            background-color: #FFFFFF;
            border-radius: 25px 25px 0px 0px;
            position: absolute;
            margin-top: 156px;
            @include breakpoint(desktop) {
                width: 29%;
                margin-left: 56%;
                position: static;
                border-radius: 33px;
                margin-top: 6%;
            }
            @include breakpoint(tablet) {
                width: 40%;
                margin-left: 54%;
                position: static;
                border-radius: 33px;
                margin-top: 3%;
            }
            .diagnosis-free {
                color: #000000;
                @include breakpoint(desktop) {
                    margin-top: -102px;
                    margin-left: 0;
                    width: 104%;
                    text-align: left;
                }
                @include breakpoint(tablet) {
                    text-align: left;
                }
            }
            .form2 {
                margin-top: 34px;
                margin-left: 10%;
                width: 78%;
                @include breakpoint(desktop) {
                    margin-top: 153px;
                    margin-left: 13%;
                    width: 75%;
                }
                @include breakpoint(tablet) {
                    margin-left: 13%;
                    width: 75%;
                }
                .form-reques2 {
                    border-color: #BDC3C7;
                    @include breakpoint(desktop) {
                        height: 51px;
                    }
                    @include breakpoint(tablet) {
                        height: 51px;
                    }
                }
                .btn-primary {
                    background-color: #F37421;
                    border-color: #F37421;
                    width: 100%;
                    margin-bottom: 25px;
                    @include breakpoint(desktop) {
                        height: 71px;
                        margin-bottom: 40px;
                    }
                    @include breakpoint(tablet) {
                        height: 55px;
                        margin-bottom: 30px;
                    }
                }
                .btn-primary:hover {
                    background-color: #FFFFFF;
                    border-color: #F37421;
                    color: #F37421;
                }
            }
        }
    }
}